<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Demo Site</title>
    <link href="/static/css/home.css" rel="stylesheet">
</head>
<nav id="nav01"></nav>
<body>
    <div id="main">
        <h1>Welcome to Peter's Demo Site</h1>
        <h2>Web Site Main Components :</h2>

        <p>Geospatial Map Hosting Service (Geoserver)</p>
        <p>Geospatial Client Service (Open Layers)</p>
        <p>RSS Feed Harvesting and Searching (Python / Solr / Cassandra)</p>
        <p>JSON Services (Python)</p>
        <p>REST Services (Python)</p>
        <p>Satellite Data Visualization </p>
    </div>
<script src="/static/js/script.js"></script>

</body>


</body>
</html>